@media (max-width: 555px){
   main {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 1940px;
   }

   .fundo {
    background-color: hsl(0, 0%, 100%);
    width: 500px;
    height: 1890px;
    border-radius: 15px;
}
}

@media (max-width: 491px){
    main {
     background-color: hsl(30, 54%, 90%);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     height: 1940px;
    }
 
    .fundo {
     background-color: hsl(0, 0%, 100%);
     width: 500px;
     height: 1990px;
     border-radius: 15px;
 }
 }